a.title {
	text-decoration: none;
	color: black;
	letter-spacing: -0.5px;
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px 0;
		img {
			height: 2.6rem;
			margin-right: 18px;			
		}
	}
}

section.padding {
	padding-top: 120px;
	padding-bottom: 120px;
}

.footer {
	margin-top: 40px;
	padding-top: 40px;
}